.hero {
  height: 480px;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 480px;
  width: 100%;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.hero__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text-wrapper {
  background-color: rgba($color: #000000, $alpha: .6);
  padding: 2rem 1rem;
}
.hero__title {
  font-size: 3rem;
  text-align: center;
}
.hero__text {
  font-size: 2.5rem;
  text-align: center;
}