.header {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
